.title {
  font-size: 9vw;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

.header {
  padding-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 35vh;
  width: 100%;
}

@media (max-width: 900px) {
  .header {
    height: 25vh;
  }
  .title {
    font-size: 11vw;
  }
  .inputs {
    padding-bottom: 8vh;
  }
}

@media (min-width: 1600px) {
  .title {
    font-size: 9vw;
  }
}

.inputs {
  padding-top: 4vh;
  padding-bottom: 4vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.search,
.select {
  width: 43%;
}
